:root {
    --bg-color: #FFEFC2; 
    --my-pink: #FF00F5; 
}

body{
    background-color: var(--bg-color);
}

h1{
    color: var(--my-pink);
}

.login{
    background-color: var(--my-pink);
    color: white;
    border: 2px solid var(--my-pink);
    border-radius: 30px;
    font-size: 20px;
}

.login:hover{
    background-color: white;
    color: var(--my-pink);
}

.adaptive{
    background-color: white; 
    color: var(--my-pink);
    border: 2px solid var(--my-pink);
    border-radius: 30px;
    font-size: 20px;
}

.adaptive:hover{
    background-color: var(--my-pink);
    color: white;
}