:root {
    --bg-color: #fff8e3; 
    --my-pink: #FF00F5; 
    --main-font:  'Yatra One', cursive;
    --additional-font: 'Hind Siliguri', sans-serif;
}

body{
    font-family: var(--main-font);
    background-color: var(--bg-color);
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    color: var(--my-pink);
}

.container{
    padding-left: 0;
    padding-right: 0;
}


.col-2{
    padding: 0;
}

.login, .search{
    float: right;
}

button{
    height: 40px;
    background-color: var(--my-pink);
    color: white;
    font-weight: 500;
    border: 2px solid var(--my-pink);
    border-radius: 30px;
    font-size: 20px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: white;
    color: var(--my-pink);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 170px 0 rgba(0,0,0,0.19);
}

a{
    text-decoration: none;
}

.menu{
    font-size: 18px;
    color: black;
    text-decoration: underline;
}

.menu:hover{
    color: var(--my-pink);
    cursor: pointer;
}

input{

    border-radius: 30px;
    border: none; 
}

input:focus{
    border: 1px solid var(--my-pink);
}

.btn-outline-secondary{
    background-color: var(--my-pink);
    color: white;
    border: 1px solid var(--my-pink);
}

.btn-outline-secondary:hover{
    background-color: white; 
    color: var(--my-pink);
}


.btn-outline-secondary:focus{
    background-color: var(--my-pink);
    color: white;
    border: none;
    box-shadow: none;
}

.filterDiv{
    background-color: #ffffff99;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15%;
}

.but{
    display: block;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

li{
    padding-top: 5px;
}

.priceInput {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 5px;
}

.forProduct{
    width: 100%;
    background-color:rgb(255, 166, 231);
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 15px;
}

img{
    display: block;
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
}

.buyButton{
    display: block;
    margin: 0 auto;
    width: 30%;
    background-color: white; 
    color: var(--my-pink);
    font-weight: 500;
    border: 2px solid var(--my-pink);
    border-radius: 30px;
    font-size: 20px;
    transition-duration: 0.4s;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .whiteBut{
    background-color: white;
    color: var(--my-pink);
    transition-duration: 0.4s;
  }

  .whiteBut:hover{
    background-color: var(--my-pink);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 170px 0 rgba(0,0,0,0.19);
  }


  .heart{
    width: 40px;
    float: right;
    margin-right: 50px;
    border-radius: 0;
  }

  .input-group .btn{
    z-index: 0;
  }

  .likes img{
    width: 45px;
    height: 45px;
    border-radius: 0;
    margin-left: 20px;
  }

  .popupLike{
    border: 2px solid var(--my-pink);
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .popupLike img{
   width: 250px;
   height: 250px;
   margin-top: 0;
  }



#popupSettings h3  {
    color: var(--my-pink);
  }

  #popupSettings input  {
    margin-left: 20px;
  }

  #popupSettings .form-group, .form-check {
    font-family: var(--additional-font);
  }

  #popupSettings .form-group{
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .settings{
    font-size: 20px;
  }

  @media screen and (max-width: 1000px) {
    .topButtoms{
        float: right;
    }

    .wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
  }

  @media screen and (min-width: 900px) {
    .logo{
        text-align: center;
    }
  }

  @media screen and (max-width: 1000px) {
   .popup{
    height: auto;
    width: 50%;
   }
  }

  

  
  