@import "styles/app.css";

.overlayLogin {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlayLogin:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popupLogin {
    margin: 70px auto;
    padding: 20px;
    background: var(--bg-color);
    border-radius: 20px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
  }
  
  .popupLogin h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popupLogin .closeLogin {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popupLogin .closeLogin:hover {
    color: var(--my-pink);
  }
  .popupLogin .content {
    max-height: 30%;
    overflow: auto;
  }

  .inputLogin{
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .loginButton{
    display: block;
    margin: 0 auto;
    
  }

  @media screen and (max-width: 800px) {
    .popupLogin{
      width: 50%;
      height: auto;
    }
  }

  @media screen and (max-width: 400px) {
    .popupLogin{
      width: 80%;
      height: auto;
    }
  }
  